<div class="card m-3">
    <div class="card-header flex">
      <h3 class="card-title">User List</h3>
      <a href="/create-user" class="float-right btn btn-primary">
        <i class="fa fa-plus mr-2"></i>Add User
      </a>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>SL#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Type</th>
          <th>Action</th>
        </tr>
        </thead>
        <% if (listData.length > 0) { %>
        <tbody>
            <% listData.forEach(function(item, index){ %>
                <tr>
                    <td><%= index+1 %></td>
                    <td><%= item.name %></td>
                    <td><%= item.email %></td>
                    <td><%= item.type %></td>
                    <td>
                        <a href="/user?id=<%= item._id%>" class="btn btn-primary btn-xs">
                            <i class="fa fa-pen"></i>
                        </a>
                        <a href="#" class="btn btn-danger btn-xs">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
        <% } %>
      </table>
    </div>
    <!-- /.card-body -->
  </div>